<form (ngSubmit)="createProduct()" [formGroup]="productForm">
  <div>
    <label for="name">Product Name:</label><br />
    <input
      type="text"
      id="name"
      formControlName="name"
      class="border-[1px] rounded border-gray-400 p-1.5 mb-2"
    />
  </div>
  <div>
    <label for="brand">Brand:</label> <br />
    <input
      type="text"
      id="brand"
      formControlName="brand"
      class="border-[1px] rounded border-gray-400 p-1.5 mb-2"
    />
  </div>

  <div>
    <label for="category">Category:</label> <br />
    <input
      type="text"
      id="category"
      formControlName="category"
      class="border-[1px] rounded border-gray-400 p-1.5 mb-2"
    />
  </div>
  <div>
    <label for="description">Description:</label> <br />
    <input
      type="text"
      id="description"
      formControlName="description"
      class="border-[1px] rounded border-gray-400 p-1.5 mb-2"
    />
  </div>
  <div>
    <label for="price">Price:</label> <br />
    <input
      type="number"
      id="price"
      formControlName="price"
      class="border-[1px] rounded border-gray-400 p-1.5 mb-2"
    />
  </div>
  <div>
    <label for="countInStock">Count in Stock:</label> <br />
    <input
      type="number"
      id="countInStock"
      formControlName="countInStock"
      class="border-[1px] rounded border-gray-400 p-1.5 mb-2"
    />
  </div>
  <button
    type="submit"
    class="px-6 bg-green-600 text-white font-semibold text-center w-full py-2 my-2 rounded"
  >
    Create Product
  </button>
</form>
